---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hi, I'm Sam</h1>
      <h2>Engineering Manager by day - Fullstack JS Developer by night.</h2>
      <p>
        I love building things for the web and am always looking for new challenges to tackle. On
        this website, you'll find a bit about my background, what I'm passionate about, and some topics
        that interest me. I'll try to write regularly about books, tweets, videos and anything really
        that caught my attention.
      </p>
      <h3>Background</h3>
      <p>
        I've been in the tech industry for a while now and have had the opportunity to work on a
        variety of projects. From developing e-commerce websites to bootstrapping my own startup, I've
        gained a diverse set of skills and experiences. Currently, I'm an Engineering Manager, but I
        still enjoy getting my hands dirty with coding on the side.
      </p>
      <h3>Passionate About</h3>
      <p>
        When I'm not busy with work, I love talking about and learning about coding, especially with
        JavaScript frameworks like React and Vue. I'm also a big fan of travel and love exploring
        new places and cultures. I enjoy surfing and hiking, and as a dad, I love
        spending time with my family.
      </p>
    </main>
  </body>
</html>
